@media (min-width: 768px) and (max-width: 992px) {
    #gallery {
        width: 100%;
    }
    figure {
        width: 50%;
    }
}
@media (min-width: 480px) and (max-width: 767px) {
    #gallery, figure {
        width: 100%;
    }
}
@media all and (max-width:479px) {
    #gallery, figure {
        width: 100%;
    }
}